div.account-masthead {
    background: #282828 !important;
}

header.navbar {
    background: #FFFFFF !important;
}

.masthead .navigation .nav-pills li a {
    background-color: #777777;
}

footer.site-footer {
    background: #282828 !important;
}